.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 36px;
  line-height: 40px;
}

.weather_image {
  width: 100%;
}

.main {
  padding: 0 40px;
}

.card_section {
  margin-top: 40px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.card_image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.card_list {
  position: relative;
  cursor: pointer;
}

.card_name {
  font-family: "CabinetGrotesk-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding: 0 12px;
  margin-left: 100px;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card_info {
  display: flex;
  position: absolute;
  top: 15px;
}

.card_like-button {
  background: url("../../images/Like.svg") center no-repeat;
  width: 18px;
  height: 15px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.card_like-button_active {
  background: url("../../images/isLiked.svg") center no-repeat;
}
