.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-name {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 157px;
  height: 25px;
}

.user-image {
  width: 56px;
  height: 56px;
  border: 1px;
  border-radius: 50%;
}

.user-change {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  height: 25px;
  cursor: pointer;
  margin-top: 24px;
  padding: 0;
}

.user-logOut {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  height: 25px;
  cursor: pointer;
  margin-top: 8px;
  padding: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
}
